# System files
**/.DS_Store
**/Thumbs.db

# Common log files
**/*.log

# Environment variables
**/.env
**/.env.*.local

# Node.js related ignores
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/package-lock.json
**/yarn.lock

# Python related ignores
**/__pycache__/
**/*.py[cod]
**/venv/
**/env/

# Java related ignores
**/target/
**/*.jar
**/*.war
**/*.ear

# IDE related ignores
**/.vscode/
**/.idea/

# Docker related ignores
**/Dockerfile
**/docker-compose.yml
**/.docker/

# Build directories
**/dist/
**/build/
**/out/

# Coverage directories
**/coverage/

# Terraform files
**/.terraform/
**/*.tfstate
**/*.tfstate.backup

# AWS Lambda related ignores
**/.aws-sam/
**/samconfig.toml
